.home-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    width: 50%;
}

.book-pagination {
    margin: 35px 0;
}

.book-pagination * {
    outline: 0;
}

.book-container {
    padding: 0 140px;
    display: grid;
    gap: 30px;
    grid-template: auto / repeat(4, 1fr);
}

.book-title {
    font-size: 0.8em;
}

.book-author {
    font-size: 0.75em;
}

.book-cover {
    height: 320px;
}

.book-year {
    font-size: 0.8em;
}

.hidden {
    visibility: hidden;
    display: none;
}